%a.dropdown-toggle.dk{"data-toggle" => "dropdown", href: "#"}
  %i.fa.fa-bell-o.text-white
  %span.badge.up.bg-danger.m-l-n-sm 2
%section.dropdown-menu.animated.fadeInUp.input-s-lg
  %section.panel.bg-white
    %header.panel-heading
      %strong
        You have
        %span.count-n 2
        notifications
    .list-group
      %a.media.list-group-item{href: "#"}
        %span.pull-left.thumb-sm
        %span.media-body.block.m-b-none
          Use awesome animate.css
          %br/
          %small.text-muted 28 Aug 13
      %a.media.list-group-item{href: "#"}
        %span.media-body.block.m-b-none
          1.0 initial released
          %br/
          %small.text-muted 27 Aug 13
    %footer.panel-footer.text-sm
      %a.pull-right{href: "#"}
        %i.fa.fa-cog
      %a{href: "#"} See all the notifications