%ul.nav.navbar-nav
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      %i.fa.fa-flask.text-white
      %span.text-white UI kit
      %b.caret
    %ul.dropdown-menu
      %li
        %a{href: "buttons.html"} Buttons
      %li
        %a{href: "icons.html"}
          %b.badge.pull-right> 302 Icons
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      %i.fa.fa-file-text.text-white
      %span.text-white Pages
      %b.caret
    %ul.dropdown-menu
      %li
        %a{href: "dashboard.html"} Dashboard